body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  padding: 40px;
  background: #1e293b;
}

h1 {
  color: #38bdf8;
}

.container {
  padding: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px auto;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}
